<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script>
                // Helper function
                let domReady = (cb) => {
                document.readyState === 'interactive' || document.readyState === 'complete'
                    ? cb()
                    : document.addEventListener('DOMContentLoaded', cb);
                };

                domReady(() => {
                // Display body when DOM is loaded
                document.body.style.visibility = 'visible';
                });
            </script>

            <!--<script async 
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6761312355349853"
                    crossorigin="anonymous">
            </script>-->

                <script>
            {% if app.user %}
                    const userData = {{ app.user|json_encode|raw }} ;
            {% endif %}
                </script>

                <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}
    </head>
    <body  style="visibility: hidden;">
        {% block body %}

        {% endblock %}
    </body>
</html>
